{% extends 'base.html' %}

{% block Titulo %}Libreria Dante | Lista de Deseos | Libros{% endblock Titulo %}
{% block navHeader %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a href="{% url 'index' %}">
        <img src="static/Img/Logo.PNG" width="300"  height="80" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarMenu" style="margin-left: 2em ;font-size: 1.3em ;">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link  icon-list-add" href="{% url 'addBookWishList' %}" >Agregar Libro
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  icon-seeBook" href="{% url 'readBooksWishList' %}" >Ver Libros Lista de Deseos </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link icon-undo" href="{% url 'index' %}" >Atras</a>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-sm-2 icon-search" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form> 
            
        </div>
    </div>
</nav>

{% endblock navHeader %}

{% block contenido %}

<div class="container">
  <h1>Lista de Deseos  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Precio</th>
        <th>Imagen</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for bookWishList in booksWishList  %}
      <tr>
        <th>{{bookWishList.id}}</th>
        <th>{{bookWishList.Titulo_Libro}}</th>
        <th>{{bookWishList.Precio}}</th>
        <th>
          <img src="{{bookWishList.Imagen.url}}" height="100" width="100"/>
        </th>
        <th>
          <a name="" id="" class="btn btn-info icon-arrows-cw " href="{% url 'updateBookWishList' bookWishList.id  %}" role="button">Editar</a>
          |
          <a name="" id="" class="btn btn-danger icon-trash" href="{% url 'deleteBookWishList' bookWishList.id %}" role="button">Eliminar</a>
        </th>
      </tr>
      {% endfor %}
      </tr>
    </tbody>
  </table>
  
</div>
{% endblock contenido %}