{% extends 'base.html' %}
{% csrf_token %}
{% block Titulo %}Libreria Dante | Apuntes | Crear Apunte {% endblock Titulo %}
{% block navHeader %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        {% comment %} <a class="navbar-brand" href="{% url 'index' %}">Libreria Dante</a> {% endcomment %}
        <a href="{% url 'index' %}">
        <img src="static/Img/Logo.PNG" width="300"  height="80" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarMenu" style="margin-left: 2em ;font-size: 1.3em ;">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link  icon-doc-add" href="{% url 'createImportantPoint' bookSelect.id%}" >Agregar Apunte
                    <span class="visually-hidden">(current)</span>
                  </a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link  icon-pencil" href="{% url 'readImportantPoints' bookSelect.id %}" >Ver Apuntes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link icon-undo" href="{% url 'index' %}" >Atras</a>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-sm-2 icon-search" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
            
        </div>
    </div>
</nav>
{% endblock navHeader %}

{% block contenido %}
<div class="card">
  <div class="card-header">
    <h1>Crear Apunte</h1>
  </div>
  <div class="card-body">
    <h4 class="card-title">Datos Apunte</h4>
    {% include "PagesImportanPoints/formImportantPoints.html"%}
  </div>
  <div class="card-footer text-muted">
 
  </div>
</div>
{% endblock contenido %}