{% extends 'base.html' %}

{% block Titulo %} Libreria Dante | Inicio {% endblock Titulo %}
{% comment %} #TODO FALTA HACER LA PARTE DEL FRONT {% endcomment %}
{% block navHeader %}
<!-- Nav tabs -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        {% comment %} <a class="navbar-brand" href="{% url 'index' %}">Libreria Dante</a> {% endcomment %}
        <a href="{% url 'index' %}">
        <img src="static/Img/Logo.PNG" width="300"  height="80" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarMenu" style="margin-left: 2em ;font-size: 1.3em ;">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link  icon-seeBook" href="{% url 'readBooks' %}" >Libros
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link icon-bell" href="{% url 'report' %}" >Reporte</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link icon-wish-List" href="{% url 'readBooksWishList' %}" >Lista de Deseos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link icon-user" href="{% url 'about' %}" >About us</a>
                </li>
              </ul>
              
            
        </div>
    </div>
</nav>
{% endblock navHeader %}

{% block contenido %}
</br>
</br>
<h1 style="text-align: center;">Bienvenido a la libreria Dante</h1>
<p style="font-size:1.3em">En la siguiente aplicacion podras Crear, Eliminar, Actualizar, Ver:
</br>- Libros
</br>- Lista de Deseos
</br>- Apuntes de los libros de la lista
</p>
{% endblock contenido %}

<!--TODO TERMINAR VIDEO MINUTO 41:00-->