{% extends 'base.html' %}

{% block Titulo %}Libreria Dante | Actualizar{% endblock Titulo %}

{% block navHeader %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        {% comment %} <a class="navbar-brand" href="{% url 'index' %}">Libreria Dante</a> {% endcomment %}
        <a href="{% url 'index' %}">
        <img src="static/Img/Logo.PNG" width="300"  height="80" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarMenu" style="margin-left: 2em ;font-size: 1.3em ;">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link  icon-list-add" href="{% url 'createBook' %}" >Agregar Libro
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  icon-seeBook" href="{% url 'readBooks' %}" >Ver Libros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link icon-undo" href="{% url 'index' %}" >Atras</a>
                </li>
              </ul>
              
            
        </div>
    </div>
</nav>

{% endblock navHeader %}

{% block contenido %}
<div class="card">
  <div class="card-header">
    Editar Libro
  </div>
  <div class="card-body">
    <h4 class="card-title">Datos Libro</h4>
    {% include "PagesBooks/formBook.html" %}
  </div>
  <div class="card-footer text-muted">
 
  </div>
</div>
{% endblock contenido %}